@using SocialAssistanceProgram.ViewModels
@model EditApplicantViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Applicant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ApplicationDate" class="control-label"></label>
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId">
                    <option value="">-- Select Gender --</option>
                </select>
                <span asp-validation-for="GenderId" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatusId" class="control-label"></label>
                <select asp-for="MaritalStatusId" class="form-control" asp-items="ViewBag.MaritalStatusId">
                    <option value="">-- Select Marital Status --</option>
                </select>
                <span asp-validation-for="MaritalStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNumber" class="control-label"></label>
                <input asp-for="IdNumber" class="form-control" />
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalAddress" class="control-label"></label>
                <input asp-for="PostalAddress" class="form-control" />
                <span asp-validation-for="PostalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhysicalAddress" class="control-label"></label>
                <input asp-for="PhysicalAddress" class="form-control" />
                <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialProgramId" class="control-label"></label>
                <select asp-for="SocialProgramId" class="form-control" asp-items="ViewBag.SocialProgramId">
                    <option value="">-- Select Social Program --</option>
                </select>
                <span asp-validation-for="SocialProgramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountyId" class="control-label"></label>
                <select asp-for="CountyId" class="form-control" asp-items="ViewBag.CountyId" id="countySelect">
                    <option value="">-- Select County --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="SubCountyId" class="control-label"></label>
                <select asp-for="SubCountyId" class="form-control" asp-items="ViewBag.SubCountyId" id="subCountySelect">
                    <option value="">-- Select Sub County --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId" id="locationSelect">
                    <option value="">-- Select Location --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="SubLocationId" class="control-label"></label>
                <select asp-for="SubLocationId" class="form-control" asp-items="ViewBag.SubLocationId" id="subLocationSelect">
                    <option value="">-- Select Sub Location --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="VillageId" class="control-label"></label>
                <select asp-for="VillageId" class="form-control" asp-items="ViewBag.VillageId" id="villageSelect">
                    <option value="">-- Select Village --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OfficerId" class="control-label"></label>
                <select asp-for="OfficerId" class="form-control" asp-items="ViewBag.OfficerId">
                    <option value="">-- Select Officer --</option>
                </select>
                <span asp-validation-for="OfficerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignedDate" class="control-label"></label>
                <input asp-for="SignedDate" class="form-control" />
                <span asp-validation-for="SignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            // Function to clear and reset a dropdown
            function clearDropdown(selectElement, defaultText) {
                selectElement.empty();
                selectElement.append('<option value="">' + defaultText + '</option>');
            }

            // Function to populate dropdown from AJAX response
            function populateDropdown(selectElement, data, defaultText) {
                clearDropdown(selectElement, defaultText);
                $.each(data, function (index, item) {
                    selectElement.append('<option value="' + item.value + '">' + item.text + '</option>');
                });
            }

            // County change event
            $('#countySelect').change(function () {
                var countyId = $(this).val();
                var subCountySelect = $('#subCountySelect');
                var locationSelect = $('#locationSelect');
                var subLocationSelect = $('#subLocationSelect');
                var villageSelect = $('#villageSelect');

                // Clear all dependent dropdowns
                clearDropdown(subCountySelect, '-- Select Sub County --');
                clearDropdown(locationSelect, '-- Select Location --');
                clearDropdown(subLocationSelect, '-- Select Sub Location --');
                clearDropdown(villageSelect, '-- Select Village --');

                if (countyId) {
                    $.ajax({
                        url: '@Url.Action("GetSubCounties", "Applicants")',
                        type: 'GET',
                        data: { countyId: countyId },
                        success: function (data) {
                            populateDropdown(subCountySelect, data, '-- Select Sub County --');
                        },
                        error: function () {
                            alert('Error loading sub counties');
                        }
                    });
                }
            });

            // Sub County change event
            $('#subCountySelect').change(function () {
                var subCountyId = $(this).val();
                var locationSelect = $('#locationSelect');
                var subLocationSelect = $('#subLocationSelect');
                var villageSelect = $('#villageSelect');

                // Clear dependent dropdowns
                clearDropdown(locationSelect, '-- Select Location --');
                clearDropdown(subLocationSelect, '-- Select Sub Location --');
                clearDropdown(villageSelect, '-- Select Village --');

                if (subCountyId) {
                    $.ajax({
                        url: '@Url.Action("GetLocations", "Applicants")',
                        type: 'GET',
                        data: { subCountyId: subCountyId },
                        success: function (data) {
                            populateDropdown(locationSelect, data, '-- Select Location --');
                        },
                        error: function () {
                            alert('Error loading locations');
                        }
                    });
                }
            });

            // Location change event
            $('#locationSelect').change(function () {
                var locationId = $(this).val();
                var subLocationSelect = $('#subLocationSelect');
                var villageSelect = $('#villageSelect');

                // Clear dependent dropdowns
                clearDropdown(subLocationSelect, '-- Select Sub Location --');
                clearDropdown(villageSelect, '-- Select Village --');

                if (locationId) {
                    $.ajax({
                        url: '@Url.Action("GetSubLocations", "Applicants")',
                        type: 'GET',
                        data: { locationId: locationId },
                        success: function (data) {
                            populateDropdown(subLocationSelect, data, '-- Select Sub Location --');
                        },
                        error: function () {
                            alert('Error loading sub locations');
                        }
                    });
                }
            });

            // Sub Location change event
            $('#subLocationSelect').change(function () {
                var subLocationId = $(this).val();
                var villageSelect = $('#villageSelect');

                // Clear village dropdown
                clearDropdown(villageSelect, '-- Select Village --');

                if (subLocationId) {
                    $.ajax({
                        url: '@Url.Action("GetVillages", "Applicants")',
                        type: 'GET',
                        data: { subLocationId: subLocationId },
                        success: function (data) {
                            populateDropdown(villageSelect, data, '-- Select Village --');
                        },
                        error: function () {
                            alert('Error loading villages');
                        }
                    });
                }
            });
        });
    </script>
}
